{% extends 'base_backend.html' %}
{% load common_tags %}

{% block head_title %}New Profile{% endblock %}

{% block html_head %}
<script type="text/javascript" src="{{STATIC_URL}}libs/jquery.fileupload/js/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}libs/jquery.fileupload/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}libs/jquery.fileupload/js/jquery.fileupload.js"></script>
{% endblock %}

{% block content %}
<form class="form-horizontal" method="post" action="{% url account_profile_create %}">
  {% csrf_token %}
  <fieldset>
    <legend><h1>New profile</h1></legend>
    
    <div class="control-group">
      <label class="control-label" for="id_email">Email</label>
      <div class="controls">
        {{ form.email }}
        <span class="help-inline">{{ form.email.errors.as_text }}</span>
      </div>
    </div>
    
    <div class="control-group{% if form.first_name.errors %} error{% endif %}">
      <label class="control-label" for="id_first_name">First name</label>
      <div class="controls">
        {{ form.first_name }}
        <span class="help-inline">{{ form.first_name.errors.as_text }}</span>
      </div>
    </div>
    
    <div class="control-group{% if form.last_name.errors %} error{% endif %}">
      <label class="control-label" for="id_last_name">Last name</label>
      <div class="controls">
        {{ form.last_name }}
        <span class="help-inline">{{ form.last_name.errors.as_text }}</span>
      </div>
    </div>
    
    <div class="control-group{% if form.password.errors %} error{% endif %}">
      <label class="control-label" for="id_password">Password</label>
      <div class="controls">
        {{ form.password1 }}
        <span class="help-inline">{{ form.password1.errors.as_text }}</span>
      </div>
    </div>
    
    <div class="control-group{% if form.confirm_password.errors %} error{% endif %}">
      <label class="control-label" for="id_confirm_password">Confirm Password</label>
      <div class="controls">
        {{ form.password2 }}
        <span class="help-inline">{{ form.password2.errors.as_text }}</span>
      </div>
    </div>
    
    <div class="control-group{% if form.timezone.errors %} error{% endif %}">
      <label class="control-label" for="timezone">Timezone</label>
      <div class="controls">
        {{ form.timezone }}
        <span class="help-inline">{{ form.timezone.errors.as_text }}</span>
      </div>
    </div>
    
    <div class="form-backend">
      <button type="submit" class="btn-green">Create Profile</button>
      <button type="reset" class="btn-grey">Reset</button>
    </div>
  </fieldset>
</form>
{% endblock %}