{% extends 'base.html' %}
{% load common_tags %}
{% load tz %}

{% block head_title %}Account Activation{% endblock %}

{% block base_content %}

<div class="row login_form">
	<div class="span4 offset4 control-group">
		{% if invitation %}
		<h1 class="oxfam-font"><span class="brand">Oxfam</span><span class="slogan">live stories</span></h1>
		<h2 class="oxfam-font">Activate user account</h2>
		<form class="form-vertical thumbnail" method="post" action="{% url account_activate invitation.invitation_key %}">
		    {% csrf_token %}
		    <fieldset>
		
		        <div class="control-group">
		            <label class="control-label" for="title">First name</label>
		            <div class="controls">{{ form.first_name }}</div>
		        </div>
		
		        <div class="control-group">
		            <label class="control-label" for="title">Last name</label>
		            <div class="controls">{{ form.last_name }}</div>
		        </div>
		
		        <div class="control-group{% if form.password.errors %} error{% endif %}">
		            <label class="control-label" for="title">Password</label>
		            <div class="controls">{{ form.password }}</div>
		            <span class="help-inline">{{ form.password.errors.as_text }}</span>
		        </div>
			
				<div class="control-group{% if form.confirm_password.errors %} error{% endif %}">
		            <label class="control-label" for="title">Confirm Password</label>
		            <div class="controls">{{ form.confirm_password }}</div>
		            <span class="help-inline">{{ form.confirm_password.errors.as_text }}</span>
		        </div>

		        <div class="form-backend">
		            <button type="submit" class="btn-green">Activate account</button>
		        </div>
		
		    </fieldset>
		</form>
		{% else %}
			<h2>Invitation key is invalid</h2>
		{% endif %}
	</div>
</div>

{% endblock %}