{% extends 'base.html' %}

{% block head_title %}Forgot Password{% endblock %}

{% block base_content %}
<style>
	.inner-container{
		border : 1px solid #ccc;
		padding : 10px 30px 30px 10px;
		margin : 40px 0 0 ;
		width: 400px;
	}
	
</style>

<div>
		<div class="row login_form">
			<div class="span4 offset4 control-group">
				<h1 class="oxfam-font"><span class="brand">{{ ORGANIZATION_NAME }}</span><span class="slogan">live stories</span></h1>
			<form method="POST" action="{% url account_forgot %}" class="form-vertical thumbnail">
				<fieldset>
			  {% csrf_token %}
			  <input type="hidden" name="next" value="{{next}}" />

			  <div class="item control-group{% if form.non_field_errors or form.email.errors or email_error %} error {% endif %}">
			    <label for="id_email" class="control-label">Please enter your email</label>
			    <div class="input">{{ form.email }}</div>
			    {% if form.non_field_errors or form.email.errors or email_error %}
			    <div class="help-inline">
			      {{ form.non_field_errors.as_text }}
			      {{ form.email.errors.as_text }}
			    </div>
			    {% endif %}
			    {% if success %}
			    <div class="alert alert-success">
			      {{ success }}
			    </div>
			    {% endif %}
			  </div>
			
			  <div class="form_actions">
			    <button type="submit" class="btn-green">Request</button>
			    <a href="{% url account_login %}">Back to Login</a>
			  </div>
				</fieldset>
			</form>
			</div>
		</div>
</div>
<script type="text/javascript">
  $('#id_email').focus();
</script>
{% endblock %}
