{% extends 'base_backend.html' %}
{% load common_tags %}

{% block head_title %}Your Profile{% endblock %}

{% block html_head %}
<script type="text/javascript" src="{{STATIC_URL}}libs/jquery.fileupload/js/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}libs/jquery.fileupload/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}libs/jquery.fileupload/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}libs/chosen/chosen.jquery.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}libs/bootstrap/js/bootstrap-tooltip.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}libs/chosen/chosen.css">

{% endblock %}

{% block content %}
<form class="form-horizontal" method="post" action="{% url account_profile_edit %}" enctype="multipart/form-data">
  {% csrf_token %}
  <fieldset>
    <legend><h1>Your profile</h1></legend>
    
    <div class="control-group">
      <label class="control-label" for="title">Email</label>
      <div class="controls">
        <span class="grey label-inline-form">{{ user.email }}</span>
      </div>
    </div>

      {% if user.get_profile.get_posting_email %}
      <div class="control-group">
          <label class="control-label">Posting email</label>
          <div class="controls">
              <span class="grey label-inline-form">{{ user.get_profile.get_posting_email }}</span>
              <a href="#" rel="tooltip" id="example" data-original-title="You can create a new blog via email by sending mail to this email address."><span class="label label-info">?</span></a>
          </div>
      </div>
      {% endif %}
    
    <div class="control-group{% if form.first_name.errors %} error{% endif %}">
      <label class="control-label" for="id_first_name">Firstname</label>
      <div class="controls">
        {{ form.first_name }} 
        <span class="help-inline">{{ form.first_name.errors.as_text }}</span>
      </div>
    </div>
    
    <div class="control-group{% if form.last_name.errors %} error{% endif %}">
      <label class="control-label" for="id_last_name">Lastname</label>
      <div class="controls">
        {{ form.last_name }}
        <span class="help-inline">{{ form.last_name.errors.as_text }}</span>
      </div>
    </div>

      <div class="control-group{% if form.job_title.errors %} error{% endif %}">
          <label class="control-label" for="id_job_title">Job title</label>
          <div class="controls">
              {{ form.job_title }}
              <span class="help-inline">{{ form.job_title.errors.as_text }}</span>
          </div>
      </div>

      <div class="control-group{% if form.office.errors %} error{% endif %}">
          <label class="control-label" for="id_office">Oxfam office</label>
          <div class="controls">
              {{ form.office }}
              <span class="help-inline">{{ form.office.errors.as_text }}</span>
          </div>
      </div>
    
    <div class="control-group{% if form.password.errors %} error{% endif %}">
      <label class="control-label" for="id_password">Password</label>
      <div class="controls">
        {{ form.password }}
        <span class="help-inline">{{ form.password.errors.as_text }}</span>
      </div>
    </div>
    
    <div class="control-group{% if form.confirm_password.errors %} error{% endif %}">
      <label class="control-label" for="id_confirm_password">Confirm Password</label>
      <div class="controls">
        {{ form.confirm_password }}
        <span class="help-inline">{{ form.confirm_password.errors.as_text }}</span>
      </div>
    </div>
    
    <div class="control-group{% if form.notification_type.errors %} error{% endif %}">
      <label class="control-label" for="notification_type">Notification</label>
      <div class="controls">
        {{ form.notification_type }}
        <span class="help-inline">{{ form.notification_type.errors.as_text }}</span>
      </div>
    </div>
    
    <div class="control-group{% if form.timezone.errors %} error{% endif %}">
      <label class="control-label" for="timezone">Timezone</label>
      <div class="controls">
        {{ form.timezone }}
        <span class="help-inline">{{ form.timezone.errors.as_text }}</span>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="fileInput">Avatar</label>
      <div class="controls">
        <div class="image-upload">
          {% if account.avatar %}
          <div class="image-wrapper">
            <img src="{{ account.avatar|crop:AVATAR_SIZE }}"/>
          </div>
          {% endif %}
          
          <div>
            {{ form.image }}
          </div>
        </div>
      </div>
    </div>

    <div class="form-backend">
      <button type="submit" class="btn-green">Update Profile</button>
      <button type="reset" class="btn-grey">Reset</button>
    </div>
  </fieldset>
</form>
<script type="text/javascript">
  $("#id_timezone").chosen();
  $('#example').popover();
</script>
{% endblock %}