{% extends 'base_single.html' %}

{% load common_tags %}

{% block content %}


<!-- People -->
<div class="filter-block block">
	<span class="filter-top"></span>
			<div id="filter-menu-people" class="filter-menu">
			<h3 class="filter-title futura-font red">Find people</h3>
			<form class="form-horizontal filter-place filter-wrap" method="get" onsubmit="return validate_keyword()">
			<div class="control-group">
		      <div class="">
		        {{ form.account_keywords }}
		        <input type="submit" value="Submit" class="btn-grey" />
		        <span class="help-inline danger">{{ form.account_keywords.errors.as_text }}</span>
		        <p class="help-block">Ex. John, Enya Smith, Oxfam GB</p>
		      </div>
		    </div>
			</form>
			</div>
	<span class="filter-bottom"></span>
</div>
<!-- End People -->

<div class="blog-list">
{% if not has_keyword or form.account_keywords.errors %}
  <div class="hint-box search-box">
  	<div class="pull-left ic-hint"></div>
    <p class="chalkduster-font reset-box">Type your desired firstname, lastname or office name here</p>
  </div>
{% else %}
  <h2 class="oxfam-font ic-page-title ic-title-yellow block">{{ keyword }}</h2>
  {% if not accounts %}
  <p class="span4 centered alert alert-block">No Results</p>
  {% endif %}
	<div class="row">
		<div class="span12">
		  <ul class="thumbnails people-thumbnails">
		  {% for user in accounts %}
		  <li class="span6">
		    <div class="thumbnail people-list">
					<a href="{% url account_profile_view user.user.id %}"><img src="{{user.get_avatar|crop:'94x94'}}" class="porfile-photo"/></a>
		
		      <a href="" class="profile-name">{{ user.first_name }} {{ user.last_name }}</a>
		      <span class="grey"><strong>{{ user.job_title }}</strong></span> <span class="grey">{{ user.office }}</span>
		    </div>
		  </li>
		  {% endfor %}
		  </ul>
		{% endif %}
		</div>
	</div>
</div> 
<script type="text/javascript">
    function validate_keyword() {
     	if (!($('#id_account_keywords').val())) return false;
    }
</script>

{% endblock %}