{% extends 'account/account_mail.html' %}

{% block content %}
<p>You have invite from {{ site_name }}.</p>

<p>We're excited to invite you to join <strong>{{ site_name }}</strong>, a photo micro blog with inspiring stories of 300 characters. </p>

<p>There are millions of stories out there each day at {{ organization_name }} us D motivating, inspiring, exciting, or even unhappy stories. From Afghanistan to Eastern Indonesia, tons of memorable moments unveil in front of us but we miss the opportunity to hear each other's stories because we've never had an easy way to share them before. Now we do. </p>

<p>Introducing <strong>{{ site_name }}</strong>, a private micro photo blogging (phlogging) community for {{ organization_name }} staff in Asia that lets you share your stories in a short and simple way. Just upload a photo with a brief caption no longer than 300 characters long, add "mood" and "category", and your story is shared across the community!</p>

<p>As the <strong>{{ site_name }}</strong> grows, you will begin to see stories of us in Asia in the way we've never seen before.  We hope that you will feel more connected and be more inspired by the stories of us.</p>

<p>To create your {{ site_name }} account, Please, click <strong>"Activate your account"</strong> below.</p>

<p style="text-align:center;"><img src="{{ base_url }}static/img/example_image.jpg" /></p>

<p>If you have any questions, we'd love to hear from you. Please email us at {{ contact_email }}</p>

<p>Can't wait to have you join the community!</p>
{% endblock %}