{% extends 'base.html' %}

{% block head_title %}Password reset{% endblock %}

{% block base_content %}
<style>
    .inner-container{
    <!-- 		border : 1px solid #ccc; -->
    padding : 10px 30px 30px 10px;
    margin : 40px 0 0 ;
    width: 400px;
    min-height: 400px;
        }

</style>

<div>
    <div class="row login_form">
        <div class="span4 offset4 control-group{% if form.non_field_errors %} error{% endif %}">
            {% if form %}
            <h1 class="oxfam-font"><span class="brand">{{ ORGANIZATION_NAME }}</span><span class="slogan">live stories</span></h1>
            <form method="POST" action="." class="form-vertical thumbnail">
                <fieldset>
                    {% csrf_token %}
                    <div class="item control-group{% if form.new_password1.errors or form.non_field_errors %} error{% endif %}">
                        <label for="id_new_password1" class="control-label">New password</label>
                        <div class="input">{{ form.new_password1 }}</div>
                        {{ form.new_password1.errors }}
                    </div>
                    <div class="item control-group{% if form.new_password2.errors or form.non_field_errors %} error{% endif %}">
                        <label for="id_new_password2" class="control-label">Confirm new password</label>
                        <div class="input">{{ form.new_password2 }}</div>
                        {{ form.new_password2.errors }}
                    </div>

                    <div class="form_actions">
                        <button type="submit" class="btn-green">Set password</button>
                    </div>
                </fieldset>
            </form>
            {% else %}
                <h2> Invalid reset key</h2>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}