{% extends 'base_backend.html' %}

{% load blog_tags %}
{% load common_tags %}
{% load tz %}

{% block head_title %}Create Your Blog{% endblock %}

{% block content %}
<h1 class="page-title">Notifications</h1>

<table class="table table-striped table-list">
  <tbody>
    {% if notification7days %}
    {% for notification in notification7days %}
    <tr class="action-{{ notification.action }}">
      <td class="avatar"><a href = "#"><img src="{{ notification.subject.get_profile.get_avatar|crop:AVATAR_TOP_SIZE }}"/></a></td>
      <td class="ic-notify middle"><div class="ic-status{% if notification.action == 2 %} ic-download-notify{% endif %}"></div></td>
      <td class="middle"><a href ="{% url account_profile_view notification.subject.id %}"><strong>{{ notification.subject.get_profile.get_fullname }}</strong></a> {{ notification.get_action_text }} your <a href="{% url blog_view notification.blog.id %}">photo</a>. | <span class="grey">{{ notification.datetime|localtime|timeago }}</span></td>
    </tr>
    {% endfor %}
    {% else %}
    <tr class="no-notification">
      <td>No notifications.</td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% endblock %}