<form method="POST" action="{% url account_login %}">
	<fieldset>
		  <legend style = "float: left;"><h1>Login</h1></legend>
  {% csrf_token %}
  {% if form.non_field_errors %}
  <div class="alert alert-error">{{form.non_field_errors.as_text}}</div>
  {% endif %}
  <input type="hidden" name="next" value="{{next}}" />
	
  <div class="item">
    <label for="id_email">Email</label>
    <div class="input">{{form.username}}{{form.username.errors.as_text}}</div>
  </div>

  <div class="item">
    <label for="id_password">Password</label>
    <div class="input">{{form.password}}{{form.password.errors}}</div>
  </div>

  <div class="form_actions">
    <button type="submit" class="btn primary login_button">Login</button>
    <a href="#">Forgot password?</a>
  </div>
	</fieldset>
</form>