{% extends 'base_single.html' %}

{% load common_tags %}
{% load tz %}

{% block head_title %}{{ blog.title }}{% endblock %}

{% block html_head %}
<script type="text/javascript">
$(document).ready(function() {
  var user_id = {{ user.id }};
  var maxItems = {{ max_items }};
  var button = $('a.love-button');
  var counter = $('.love-sum');
  var id = button.attr('id');
  var split = id.split('_');
  var loveType = split[0];
  var blogId = parseInt(split[1]);
  var updateLoves = function(num) {
    if (typeof num == 'undefined') num = 0;
    var current = parseInt(counter.html());
    var newLove = current + num;
    counter.html(newLove);
    return newLove
  };
  var onResult = function(result) {
    if (result.status == 200) {
      // Change button style
      button
        .removeClass()
        .addClass('love-button')
        .addClass(result.type);
      
      // Update numbers of love.
      var numLove = updateLoves(result.love);

      // Predefine vars
      var liList = $('ul.friends li.love-user_' + user_id);
      var liPopup = $('ul.friends-inline li.love-user_' + user_id);
      // If has more room to add new item.
      if (liList.size() == 0 && $('ul.friends li').size() < maxItems) {
        // On the list.
        liList = $('#own_love_list').clone().removeAttr('id');
        $('ul.friends').prepend(liList);
      }
      if (liPopup.size() == 0) {
        // On the popup.
        liPopup = $('#own_love_popup').clone().removeAttr('id');
        $('ul.friends-inline').prepend(liPopup);
      }

      // Effect.
      if (loveType == 'love') {
        liList.removeClass('hide');
        liList.fadeIn();
        liPopup.show();
      } else {
        liList.fadeOut(function() { liList.remove() });
        liPopup.hide();
      }

      // Handle with more link.
      if (numLove > maxItems) {
        $('#more-loves').slideDown();
      } else {
        $('#more-loves').slideUp();
      }

      // Update type.
      loveType = result.type;
    }
  };
  var getAjaxUrl = function() {
    var urls = ['blog', blogId, loveType];
    return '/' + urls.join('/');
  };
  button.click(function(e) {
    e.preventDefault();
    $.getJSON(getAjaxUrl(), {}, onResult);
  });
});
</script>
{% endblock %}

{% block content %}
  
  <div id ="blog" class="row">
    <div class="span8 block">
      
      {% if blog.trash %}
      <div class="messages">
        <div class="alert alert-warning">
          <a class="close">×</a>
          <div class="restore-msg">
            <a class="btn btn-warning" href="{% url blog_restore blog.id %}?redirect={% url blog_view blog.id %}">Restore</a>
            <a class="btn btn" href="{% url blog_manage_trash %}">Cancel</a>
          </div>
    		</div>
    	</div>
    	{% endif %}
    	
      <div class="blog-container-photo">
        <div class="blog-photo rounded5">
          <img src="{{ blog.image.path|scale_blog_image:'748x1000' }}" alt="{{ blog.title }}" />
        </div>
      </div>
      
      <h2 id="title-blog">{{ blog.title }}</h2>
      
      <p class="block">{{ blog.description }}</p>

      <span class="grey">{% if blog.published %} {{ blog.published|localtime|timeago }} {% endif %}</span>
      
      {% if not blog.trash %}
      {% if blog.user.id == user.id or user.is_staff %}
      <br /><br />
      <div class="ic image-delete"><a href="{% url blog_edit blog.id %}">Edit this story</a></div>
      {% endif %}
      {% endif %}
      
      <!-- Comment -->
      <div class="blog_comment">
       <div class="comment_list">
          {% include 'blog/snippets/comment_block.html' %}
       </div>
      </div>
    </div> <!-- span3 -->
    
    <div class="span4 block">
      <div class="blog-profile block clearfix">
        <a href="{% url account_profile_view profile.pk %}" class="profile-image">
          <img width="94" height="94" src="{{ profile.get_avatar|crop:'94x94' }}" alt="" class="porfile-photo"/>
        </a>
        <a href="{% url account_profile_view profile.pk %}" class="profile-name">{{ profile.first_name }} {{ profile.last_name }}</a>
        <span class="profile-email grey">{{ profile.user.email }}</span>
      </div>
      
      <div class="blog-loveit block clearfix">
        {% if user.is_authenticated and not blog.draft %}
        <a href="{{ love_path }}" id="{{ button_type }}_{{ blog.id }}" class="love-button {{ button_type }}">Love it</a>
        {% endif %}
        <span class="people-love grey"><span class="love-sum">{{ love_count }}</span>&nbsp;&nbsp;People love it</span>
        <ul class="friends clearfix">
          {% for user in loved_users|slice:":7" %}
          <li class="friend-lover love-user_{{ user.user.id }}">
              <a href="{% url account_profile_view user.id %}" title=""><img width="35px" height="35px" src="{{ user.get_avatar|crop:'35x35' }}" alt="{{ user.get_full_name }}" /></a>
              <div class="tooltip-popup">{{ user.get_full_name }}</div>
          </li>
          {% endfor %}
        </ul>
        <a data-toggle="modal" href="#all-loves" id="more-loves" class="{% if love_count < max_items %}hide {% endif %}more-friend">more</a>
        <div id="all-loves" class="modal fade" style="">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>People who love this photo</h3>
          </div>
          <div class="modal-body">
            <ul class="friends-inline">
              {% for user in loved_users %}
              <li class="love-user_{{ user.user.id }}">
                <a href="#" title=""><img width="35px" height="35px" src="{{ user.get_avatar|crop:'35x35' }}" alt="{{ user.get_full_name }}"></a>
                <a href="#" class="profile-name">{{ user.get_full_name }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <ul class="hide">
          {% if user.is_authenticated %}
          <li id="own_love_list" class="love-user_{{ user.id }} hide">
              <a href="#" title=""><img src="{{ user.get_profile.get_avatar|crop:'35x35' }}" alt="{{ user.get_profile.get_fulll_name }}" /></a>
              <div class="tooltip-popup">{{ user.get_profile.get_full_name }}</div>
          </li>
          <li id="own_love_popup" class="love-user_{{ user.id }} hide">
            <a href="#" title=""><img src="{{ user.get_profile.get_avatar|crop:'94x94' }}" alt="{{ user.get_profile.get_full_name }}"></a>
            <a href="#" class="profile-name">{{ user.get_profile.get_full_name }}</a>
          </li>
          {% endif %}
        </ul>
      </div>
      
      <div class="sidebar-list block clearfix">
	      <ul>
		      <li>
			      <div class="col-left"><h3>Mood</h3></div>
						<div class="col-right mood-popup">
              <a href="{% url blog_mood blog.get_mood_text|lower %}">
              <span class="mood-icon mood-{{ blog.get_mood_text|lower }} active">Mood: {{ blog.get_mood_text }}</span>
              </a>
            </div>
		      </li>
		      <li>
			      <div class="col-left"><h3>Category</h3></div>
						<div class="col-right"><a href="{% url blog_category blog.category.code %}">{{ blog.category }}</a></div>
		      </li>
		      <li>
			      <div class="col-left"><h3>Location</h3></div>
						<div class="col-right">
            <a href="{% url blog_place %}?city={{blog.location.city}}&amp;country={{blog.location.country}}">
              <span class="location">{{ blog.location.city }}, {{ blog.location.country }}</span>
            </a>
            </div>
		      </li>
		      {% if blog.tags.all %}
		      <li>
			      <div class="col-left"><h3>Tags</h3></div>
						<div class="col-right">{% for tag in blog.tags.all %}
				<a href="{% url blog_tags %}?tags={{ tag.name }}" class="badge">{{ tag.name }}</a>
				{% endfor %}</div>
		      </li>
		      {% endif %}
	      </ul>
			</div>

     <!--
 {% if blog.tags.all %}
      <div class="blog-tag block">
				<h3 class="sidebar-title">Tags</h3>
				{% for tag in blog.tags.all %}
				<a href="{% url blog_tags %}?tags={{ tag.name }}" class="badge">{{ tag.name }}</a>
				{% endfor %}
			</div>
			{% endif %}
-->
			
			<div class="sidebar-list block">
				<h3 class="sidebar-title">Photo</h3>
				<ul>
          {% if blog.downloadable %}
					<li>
						<div class="col-left"><span class="ic-widget ic-download">Download</span></div>
						<div class="col-right"><a href="{% url blog_download blog.id %}">Download the Original size</a></div>
					</li>
					<li>
						<div class="col-left"><span class="ic-widget ic-size">Size</span></div>
						<div class="col-right"><span class="col-right">{{ blog.image.width }}x{{ blog.image.height }}</span></div>
						</li>
          {% else %}
          <li>
            <div class="col-left"><span class="ic-widget ic-download">Download</span></div>
            <div class="col-right"><span class="grey">The owner has disabled downloading of their photos</span>
            </div>
          </li>
					{% endif %}
          <li>
            <div class="col-left"><span class="ic-widget ic-date">Date</span></div>
            <div class="col-right"><span class="col-right">{{ blog.image_captured_date|date:"d M Y" }}</span></div>
          </li>
          <li>
            <div class="col-left"><span class="ic-widget ic-device">Device</span></div>
            <div class="col-right"><span class="col-right">{{ blog.image_captured_device|default:"N/A" }}</span></div>
          </li>
				</ul>
			</div>
			
      {% if CAN_SHARE_SN %}
      <div class="blog-share">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f476b3d6c5d7ab5"></script>
        <!-- AddThis Button END -->
      </div>
      {% endif %}
  
    </div>    
  </div> <!-- row -->
{% endblock %}
