{% extends 'base_single.html' %}

{% load common_tags %}

{% block head_title %}Welcome{% endblock %}

{% block html_head %}
{% endblock %}

{% block content %}
<div class="scour blog-list" style="width:{{ scour_width }}px; height:{{ scour_height }}px">

  {% for blog in blogs %}
  <div id="rect-{{ forloop.counter }}"
       class="rect {{ blog.position.placement }} has_blog" 
       style="left:{{ blog.position.left }}px;
              top:{{ blog.position.top }}px;
              width: {{ blog.position.width }}px;
              height: {{ blog.position.height }}px;
              padding: 5px;" 
       data-original-title="<a href='{% url blog_view blog.id %}'>{{ blog.title }}</a>" 
       data-content="<span class='mood-icon-s mood-{{ blog.get_mood_text|lower }}-s'>Mood: {{ blog.get_mood_text }}</span><span class='location'>{{ blog.location.city }}, {{ blog.location.country }}</span>" 
  >
    <a href="{% url blog_view blog.id %}">
      <img 
        width="{{ blog.position.width }}" 
        height="{{ blog.position.height }}" 
        alt="{{ blog.title }}" 
        src="{{ blog.image|crop:blog.position.widthxheight }}" 
      />
      <div class="black-layer"></div>
    </a>
  </div>
  {% endfor %}

  <script type="text/javascript">
    var timeout;
    
    $('.scour .has_blog').each(function () {
      var placement = $(this).hasClass('left')? 'left': 'right';
      var pfun = function () {
        if (timeout) {
          clearTimeout(timeout);
        }
        return 'in ' + placement;
      }
      $(this).popover({'placement': 'in ' + placement, 'delay': 100});
    })
    
    $('.black-layer').css('opacity', 0);
    
    $('.rect').mouseenter(function () {
      $('.popover').hide();
      $(this).css('opacity', 1);
      $('.black-layer').show().stop().animate({opacity: 0.3}, {queue: false, duration: 200});
      $('.black-layer', $(this)).hide();
    }).mouseleave(function () {
      $('.black-layer').stop().animate({opacity: 0}, {queue: false, duration: 200});
    })
    
  </script>
</div>

<div class="sologan" style="line-height: 30px;text-align:center;margin:40px 0 20px;font-size: 24px;">
	<span class="" style="font-size: 18px;color: #767676;">Oxfam Live Stories...</span> <span class="">a photo micro blog with inspiring stories of 300 characters.</span>
</div>

{% endblock %}
