{% extends 'base_single.html' %}

{% load common_tags %}

{% block head_title %}Welcome{% endblock %}

{% block html_head %}
{% endblock %}

{% block content %}
	<div class="grid-row">
		<div class="grid "><img src="{{ STATIC_URL }}img/block-public.jpg" /></div>
		<div class="grid "><img src="{{ STATIC_URL }}img/public1.jpg" /></div>
		<div class="grid "><img src="{{ STATIC_URL }}img/public2.jpg" /></div>
		<div class="grid "><img src="{{ STATIC_URL }}img/public3.jpg" /></div>
		<div class="grid "><img src="{{ STATIC_URL }}img/public4.jpg" /></div>
		<div class="grid "><img src="{{ STATIC_URL }}img/public5.jpg" /></div>
		<div class="grid "><img src="{{ STATIC_URL }}img/public6.jpg" /></div>
		<div class="grid "><img src="{{ STATIC_URL }}img/public7.jpg" /></div>
		<div class="grid "><img src="{{ STATIC_URL }}img/public8.jpg" /></div>
		<div class="grid "><img src="{{ STATIC_URL }}img/public9.jpg" /></div>
		<div class="grid "><img src="{{ STATIC_URL }}img/public10.jpg" /></div>
		<div class="grid "><img src="{{ STATIC_URL }}img/public11.jpg" /></div>
		
		<div class="grid grid-colspan">
			<div class="slogan title-slogan">a photo micro blog with</div>
			<div class="slogan"><strong>inspiring stories of 300 characters</strong></div>
		</div>
	</div> <!-- public-front -->
{% endblock %}