{% extends 'base_single.html' %}

{% load common_tags %}
{% load tz %}


{% block head_title %}Latest Stories{% endblock %}

{% block html_head %}
{% endblock %}

{% block content %}
<h2 class="oxfam-font ic-page-title">latest stories</h2>
<ul class="thumbnails blog-thumbnails">
  {% for blog in blogs %}
  <li class="span3">
    <div class="thumbnail">
      <div class="blog-photo blog-thumbnail no-shadow">
				<a href="{% url blog_view blog.id %}">
          <img 
            width="260" 
            height="180" 
            alt="{{ blog.title }}" 
            src="{{ blog.image|crop:'260x180' }}" 
          />
        </a>
				<div class="status">
					<span class="emoticon-icon emo_{{ rect.blog.get_mood_text|lower }}">Mood</span><span class="location">{{ blog.location.city }}, {{ blog.location.country }}</span>
				</div>
			</div>
      <div class="caption">
        <h4>{{ blog.title }}</h4>
        <p class="posted"><span class="grey">Posted on {{ blog.created|localtime|date:"m.d.Y f a" }} in <a href="#" class="tag">Climate change</a></span></p>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

<div class="pagination pagination-centered">
  <ul>
    <li class="disabled"><a href="#">«</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">»</a></li>
  </ul>
</div>
{% endblock %}

