{% extends 'base_single.html' %}

{% load common_tags %}

{% block head_title %}Welcome{% endblock %}

{% block html_head %}
{% endblock %}

{% block content %}
<div class="scour blog-list" style="width:{{ scour_width }}px; height:{{ scour_height }}px">
  {% for rect in rects %}
  <div 
  {% if rect.blog %} id="rect-{{ forloop.counter }}" {% endif %}
  class="rect {{ rect.placement }}{% if rect.blog %} has_blog{% endif %}" style="
    left:{{ rect.rect.left }}px;
    top:{{ rect.rect.top }}px;
    width: {{ rect.rect.width }}px;
    height: {{ rect.rect.height }}px;
    padding: 5px;
  " 
  {% if rect.blog %}
  data-original-title="<a href='{% url blog_view rect.blog.id %}'>{{ rect.blog.title }}</a>" 
  data-content="<span class='mood-icon-s mood-{{ rect.blog.get_mood_text|lower }}-s'>Mood: {{ rect.blog.get_mood_text }}</span><span class='location'>{{ rect.blog.location.city }}, {{ rect.blog.location.country }}</span>" 
  {% endif %}
  >
    {% if rect.blog %}
    <a href="{% url blog_view rect.blog.id %}">
      <img 
        width="{{ rect.rect.width }}" 
        height="{{ rect.rect.height }}" 
        alt="{{ rect.blog.title }}" 
        src="{{ rect.blog.image|crop:rect.widthxheight }}" 
      />
      <div class="black-layer"></div>
    </a>
    {% endif %}
  </div>
  {% endfor %}
  <script type="text/javascript">
    var timeout;
    
    $('.scour .has_blog').each(function () {
      var placement = $(this).hasClass('left')? 'left': 'right';
      var pfun = function () {
        if (timeout) {
          clearTimeout(timeout);
        }
        return 'in ' + placement;
      }
      $(this).popover({'placement': 'in ' + placement, 'delay': 100});
    })
    
    $('.black-layer').css('opacity', 0);
    
    $('.rect').mouseenter(function () {
      $('.popover').hide();
      $(this).css('opacity', 1);
      $('.black-layer').show().stop().animate({opacity: 0.3}, {queue: false, duration: 200});
      $('.black-layer', $(this)).hide();
    }).mouseleave(function () {
      $('.black-layer').stop().animate({opacity: 0}, {queue: false, duration: 200});
    })
    
  </script>
</div>

<div class="sologan" style="line-height: 30px;text-align:center;margin:40px 0 20px;font-size: 24px;">
	<span class="" style="font-size: 18px;color: #767676;">Oxfam Live Stories...</span> <span class="">a photo micro blog of inspiring stories in 300 characters (or less!)</span>
</div>

{% endblock %}
