{% extends 'base_backend.html' %}

{% load blog_tags %}
{% load common_tags %}

{% block head_title %}Add New Story{% endblock %}

{% block html_head %}
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}libs/tag-it/css/jquery.tagit.css">
<link href="{{STATIC_URL}}libs/tag-it/css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="{{STATIC_URL}}libs/jquery.fileupload/js/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}libs/jquery.fileupload/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}libs/jquery.fileupload/js/jquery.fileupload.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="{{STATIC_URL}}libs/tag-it/js/tag-it.js"></script>
{% tags_js %}
{% textcounter_js %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<form id="blog-form" class="form-horizontal" method="post" action="{{ action }}" enctype="multipart/form-data">
  {% csrf_token %}
  <fieldset>
    <legend><h1>{{ page_title }}</h1></legend>
    
    <div class="field-image_path control-group{% if imagefield_error %} error{% endif %}">
      <label class="control-label" for="id_image">Photo</label>
      <div class="controls">
        <div class="image-upload">
          <div class="image-border rounded5"{% if image_path %} style="display:none;"{% endif %}>
            <div id="fileupload-progress-wrapper">
              <div id="upload-detail">uploading...</div>
              <div class="progress progress-info progress-striped active" id="fileupload-progress">
                <div class="bar" id="fileupload-complete"></div>
              </div>
            </div>
            <div class="drop-area"{% if image_path %} style="display:none;"{% endif %}>
              <div class="dropbox"><input id="id_image" class="input-file image-append fileupload" type="file" name="image"></div>
            </div>
          </div>

          <div class="image-wrapper"{% if not image_path %} style="display:none;"{% endif %}>
            <div class="image-append">
              {% if image_path %}
              <img src="{{ image_path|scale:BLOG_PREVIEW_SIZE }}" />
              {% endif %}
            </div>
            <a href="{% url ajax_blog_image_delete %}" class="ic image-delete">change image</a>
            <input type="hidden" class="upload_url" name="upload_url" value="{% url ajax_blog_image_upload %}" />
          </div>

          <input type="hidden" name="image_path" value="{{ image_path }}" />
        </div>
        {% if imagefield_error %}
        <span class="help-inline">* This field is required.</span>
        {% endif %}
      </div>
    </div>
    
    <div class="field-title control-group{% if form.title.errors %} error{% endif %}">
      <label class="control-label" for="id_title">Title</label>
      <div class="controls">
        {{ form.title }}
        {% if form.title.errors %}
        <span class="help-inline">{{ form.title.errors.as_text }}</span>
        {% endif %}
      </div>
    </div>
    
    <div class="field-description control-group{% if form.description.errors %} error{% endif %}">
      <label class="control-label" for="id_description">Description</label>
      <div class="controls">
        {{ form.description }}
        <p class="help-block"><span id="id_description_counter">-1</span> characters left.</p>
        {% if form.description.errors %}
        <span class="help-inline">{{ form.description.errors.as_text }}</span>
        {% endif %}
      </div>
    </div>
    
    <div class="field-location control-group{% if form.country.errors or form.city.errors or location_error %} error{% endif %}">
      <label class="control-label" for="id_country">Location</label>
      <div class="controls">
        {{ form.country }}
        {{ form.city }}
        {% if form.country.errors or form.city.errors %}
        <span class="help-inline">* Please enter both fields.</span>
        {% endif %}
        {% if location_error %}
        <span class="help-inline">* Your location miss match.</span>
        {% endif %}
        <p class="help-block">Ex. Japan, Brazil, Liverpool, Bangkok</p>
      </div>
    </div>
    
    <div class="mood-container field-mood control-group{% if form.mood.errors %} error{% endif %}">
      <label class="control-label" for="mood_1">Mood</label>
      <div class="controls"> 
        {% for value, text in moods %}
        {% if value < 99 %}
        <div class="radio mood-list">
          <input type="radio" id="mood_{{ value }}" value="{{ value }}" name="mood"{% ifequal form.mood.data value|lower %} checked="checked"{% endifequal %}>
          <span class="mood-{{ text|lower }} mood-icon{% ifequal form.mood.data value|lower %} active{% endifequal %}"></span>{{ text }}
        </div>
        {% endif %}
        {% endfor %}
        {% if form.mood.errors %}
        <div class="clear-both">
          <p class="help-block">{{ form.mood.errors.as_text }}</p>
        </div>
        {% endif %}
      </div>
    </div>
    
    <div class="field-category control-group">
      <label class="control-label" for="id_category">Category</label>
      <div class="controls">
        {{ form.category }}
      </div>
    </div>
    
    <div class="field-tags control-group">
      <label class="control-label" for="id_tags">Tags</label>
      <div class="controls">
        {{ form.tags }}
      <p class="help-block">Separate tags with commas</p>
      </div>
    </div>
    
    <div class="field-private control-group{% if form.private.errors %} error{% endif %}"{% if PRIVATE %} style="display: none"{% endif %}>
      <label class="control-label" for="visibility_0">Visibility</label>
      <div class="controls">
        <label class="radio">
          {% if PRIVATE %}
          <input type="hidden" name="private" value="0">
          {% else %}
          <input type="radio" id="visibility_0" name="private" value="0"{% if "0" == form.private.data %} checked="checked"{% endif %}>{{ visibilities.0.1 }}
        </label>
        <label class="radio">
          <input type="radio" id="visibility_1" name="private" value="1"{% if "1" == form.private.data or not form.private.data %} checked="checked"{% endif %}>{{ visibilities.1.1 }}
        {% endif %}
        </label>
        {% if form.private.errors %}
        <p class="help-block">{{ form.private.errors.as_text }}</p>
        {% endif %}
      </div>
    </div>
    
    <div class="field-allow_download control-group{% if form.allow_download.errors %} error{% endif %}">
      <label class="control-label" for="allow_download">Download</label>
      <div class="controls">
        <label class="checkbox">
          <input type="hidden" name="allow_download" value="0">
          <input type="checkbox" id="allow_download" name="allow_download" value="1"{% if "1" == form.allow_download.data or not form.allow_download.data %} checked="checked"{% endif %}><label for="allow_download">Allow Oxfam to use this photo outside Oxfam Live Stories</label>
        </label>
        {% if form.allow_download.errors %}
        <p class="help-block">{{ form.allow_download.errors.as_text }}</p>
        {% endif %}
      </div>
    </div>
    
    <div class="field-draft form-backend">
      <input type="hidden" name="draft" value="0">
      <input type="hidden" name="publish" value="0">
      <input type="hidden" name="trash" value="0">
      {% if is_draft %}
      <button type="submit" class="btn-green" name="publish" value="1">Publish</button>
      {% else %}
      <button type="submit" class="btn-green" name="draft" value="0">Save changes</button>
      {% endif %}
      <button type="reset" class="btn-grey">Reset</button>
       or 
      {% if is_draft %}
      <button type="submit" class="btn-text" name="draft" value="1">Save Draft</button>
      {% endif %}
      {% if blog.id %}
      {% if is_draft %}
      , 
      {% endif %}
      <button type="submit" class="btn-text" name="trash" value="1">Move to Trash</button>
      {% endif %}
    </div>
  </fieldset>
</form>
{% endblock %}