{% extends 'base_single.html' %}
{% load common_tags %}
{% load tz %}

{% block content %}

<div class="clear-both">

  <h2 class="oxfam-font ic-page-title">{{ title }}</h2>
  {% if not blogs %}
  <p>No result</p>
  {% else %}
  <ul class="thumbnails blog-thumbnails">
    {% for blog in blogs %}
    <li class="span3">
      <div class="thumbnail">
        <div class="blog-photo blog-thumbnail no-shadow">
  				<a href="{% url blog_view blog.id %}">
            <img 
              width="260" 
              height="180" 
              alt="{{ blog.title }}" 
              src="{{ blog.image|crop:'260x180' }}" 
            />
          </a>
  				<div class="status">
  					<span class="emoticon-icon emo_{{ rect.blog.get_mood_text|lower }}">Mood</span><span class="location">{{ blog.location.city }}, {{ blog.location.country }}</span>
  				</div>
  			</div>
        <div class="caption">
          <h4>{{ blog.title }}</h4>
          <p class="posted"><span class="grey">Posted on {{ blog.created|localtime|date:"m.d.Y f a" }} in <a href="#" class="tag">Climate change</a></span></p>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if page_range.count > 1 %}
  <div class="pagination pagination-centered">
    <ul>
      {% if pagination.has_previous %}
      <li class="disabled"><a href="?page={{ pagination.previous_page_number }}">«</a></li>
      {% endif %}
      {% for p in page_range %}
      <li{% ifequal page p %} class="active"{% endifequal %}><a href="{{ url }}?page={{ p }}">{{ p }}</a></li>
      {% endfor %}
      {% if pagination.has_next %}
      <li><a href="?page={{ pagination.next_page_number }}">»</a></li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
  
</div>

{% endblock %}

