{% extends 'base_single.html' %}

{% load common_tags %}

{% block content %}

  <div id="cm-example" style="width: 600px; height: 400px"></div>

  <script type="text/javascript" src="http://tile.cloudmade.com/wml/latest/web-maps-lite.js"></script>
  <script type="text/javascript">
    var lat = {{ blogs|convert_blogs_locations_to_lat_array|safe }};
    var lng = {{ blogs|convert_blogs_locations_to_lng_array|safe }};

    var cloudmade = new CM.Tiles.CloudMade.Web({key: 'bbb27eb98eee47458164f911231fee8a', minZoomLevel:0,  maxZoomLevel:7});
    var map = new CM.Map('cm-example', cloudmade);
    map.setCenter(new CM.LatLng(-50, 0), 2);

    map.addControl(new CM.LargeMapControl());
    map.addControl(new CM.ScaleControl());

    var markers = [];
    var points = [];
    for (var i = 0; i < lat.length; i++) {
        var latlng = new CM.LatLng(lat[i], lng[i]);
        var marker = new CM.Marker(latlng);
        markers.push(marker);
        points.push(latlng);
    }

    var clusterer = new CM.MarkerClusterer(map);
    clusterer.addMarkers(markers);

    var bounds = new CM.LatLngBounds(points);
    map.zoomToBounds(bounds);
        
  </script>

{% endblock %}
  