{% extends 'base.html' %}

{% block head_title %}Create Your Blog{% endblock %}

{% block html_head %}
<script src="{{STATIC_URL}}libs/bootstrap/js/bootstrap-dropdown.js" type="text/javascript"></script>
{% endblock %}

{% block nav %}
<a class="brand" href="#">Oxfam Live Stories | Administrator</a>
<div class="">
  <a href="#">8 Loves</a>
  
	<div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <img src="{{STATIC_URL}}img/avt.png" alt=""/>
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
	
  <a href="#">Post Blog</a>
</div>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="span3">
			<div class="well well-custom">
				<ul class="nav nav-list">
          <li class="nav-header">Post</li>
          <li class="active"><a href="#"><i class="icon-white icon-home"></i> All Post</a></li>
          <li><a href="#"><i class="icon-book"></i> Add New Post</a></li>
          <li class="nav-header">User</li>
          <li><a href="#"><i class="icon-user"></i> All User</a></li>
          <li><a href="#"><i class="icon-cog"></i> Invite User</a></li>
          <li><a href="#"><i class="icon-flag"></i> Your Profile</a></li>
        </ul>
			</div> <!-- well -->
		</div> <!-- span3 -->
		
		<div class="span9">
			<div class="content rounded">
			<form class="form-horizontal" method="post" action="{{ action }}" enctype="multipart/form-data">
			  {% csrf_token %}
        <fieldset>
          <legend>Create Your Blog</legend>
          
          <div class="control-group{% if form.title.errors %} error{% endif %}">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="title" name="title" value="{% if form.title.data %}{{ form.title.data }}{% endif %}">
              {{ form.title.errors }}
            </div>
          </div>
          
          <div class="control-group{% if form.image.errors %} error{% endif %}">
            <label class="control-label" for="image">Image</label>
            <div class="controls">
              <input class="input-file" id="image" type="file" name="image">
              {{ form.image.errors }}
            </div>
          </div>
          
          <div class="control-group{% if form.description.errors %} error{% endif %}">
            <label class="control-label" for="description">Description</label>
            <div class="controls">
              <textarea class="input-xlarge" id="description" rows="3" name="description">{% if form.description.data %}{{ form.description.data }}{% endif %}</textarea>
              <p class="help-block">Limit 300 characters.</p>
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="location">Location</label>
            <div class="controls">
              {{ form.country.data }}
              <input class="span2" type="text" placeholder="Country" name="country" value="{{ form.country.data }}">
              <input class="span2" type="text" placeholder="City" name="city" value="{{ form.country.data }}">
              <p class="help-block">Ex. Japan, Brazil, Liverpool, Bangkok</p>
            </div>
          </div>
          
          <div class="control-group{% if form.mood.errors %} error{% endif %}">
            <label class="control-label" for="mood-0">Mood</label>
            <div class="controls">
              <label class="radio inline">
                <input type="radio" id="mood-0" value="0" name="mood"{% ifequal form.mood.data 0 %} checked="checked"{% endifequal %}> Happy
              </label>
              <label class="checkbox inline">
                <input type="radio" id="mood-1" value="1" name="mood"{% ifequal form.mood.data 1 %} checked="checked"{% endifequal %}> Sad
              </label>
              <label class="checkbox inline">
                <input type="radio" id="mood-2" value="2" name="mood"{% ifequal form.mood.data 2 %} checked="checked"{% endifequal %}> Love
              </label>
              <label class="checkbox inline">
                <input type="radio" id="mood-3" value="3" name="mood"{% ifequal form.mood.data 3 %} checked="checked"{% endifequal %}> Boring
              </label>
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="category">Category</label>
            <div class="controls">
              {{ form.category }}
            </div>
          </div>
          
          <div class="control-group{% if form.private.errors %} error{% endif %}">
            <label class="control-label" for="visibility-0">Visibility</label>
            <div class="controls">
              <label class="radio">
                <input type="radio" id="visibility-0" name="private" value="0"{% if not form.private.data %} checked="checked"{% endif %}>
                Public to everyone
              </label>
              <label class="radio">
                <input type="radio" id="visibility-1" name="private" value="1"{% if form.private.data %} checked="checked"{% endif %}>
                Only Oxfam group
              </label>
              <p class="help-block"><strong>Note:</strong> Labels surround all the options for much larger click areas and a more usable form.</p>
              {{ form.private.errors }}
            </div>
          </div>
          
          <div class="form-actions">
            <button type="submit" class="btn btn-primary" name="draft" value="0">Public</button>
            <button type="submit" class="btn btn-info" name="draft" value="1">Save Draft</button>
            <button type="reset" class="btn">Cancel</button>
          </div>
        </fieldset>
      </form>
      </div> <!-- content -->
		</div>
	</div>
  
  <div class="row">
	  <div class="span12">
		  <h1>Guideline for programmer</h1>
		  <p>When error add .error to [div class=control-group] -> [div class=control-group error]</p>
		  <div class="control-group error">
        <label class="control-label" for="inputError">Input with error</label>
        <div class="controls">
          <input type="text" id="inputError">
          <span class="help-inline">Please correct the error</span>
        </div>
      </div>
	  </div>
  </div>
{% endblock %}