{% extends 'base_single.html' %}
{% load common_tags %}
{% load tz %}

{% block content %}

<div class="blog-list">

  <h2 class="oxfam-font ic-page-title ic-title-{{ color }} block">{{ title }}</h2>
  {% if not blogs %}
  <p class="span4 centered alert alert-block">No Results</p>
  {% else %}
  <ul class="thumbnails blog-thumbnails">
    {% for blog in blogs %}
    <li class="span3">
      <div class="thumbnail">
        <div class="blog-thumbnail no-shadow">
	        <div class={% if forloop.counter < 4 and title == 'Latest Stories' and page == 1 %}"new-story ic-new-story"{% endif %}></div>
  				<a href="{% url blog_view blog.id %}">
            <img 
              width="260" 
              height="180" 
              alt="{{ blog.title }}" 
              src="{{ blog.image|crop:'260x180' }}" 
            />
          </a>
  				<div class="status">
  					<span class="mood-icon-s mood-{{ blog.get_mood_text|lower }}-s">Mood</span><span class="location">{{ blog.location.city }}, {{ blog.location.country }}</span>
  				</div>
  			</div>
        <div class="caption">
          <h4><a href="{% url blog_view blog.id %}">{{ blog.title }}</a></h4>
          <p class="posted">
            <span class="grey">
              {% if blog.published %}
              {{ blog.published|localtime|timeago:'M d, Y' }}
              {% endif %} in <a href="{% url blog_category blog.category.code %}" class="tag">{{ blog.category.name }}</a></span>
          </p>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if has_pager %}
  <div class="pagination pagination-centered">
    <ul>
      {% if pagination.has_previous %}
      <li><a href="{{ url }}{% if param %}?{{ param }}&amp;{% else %}?{% endif %}page={{ pagination.previous_page_number }}&mps;page_size={{ page_size }}">«</a></li>
      {% endif %}
      {% for p in page_range %}
      <li{% ifequal page p %} class="active"{% endifequal %}><a href="{{ url }}{% if param %}?{{ param }}&amp;{% else %}?{% endif %}page={{ p }}&amp;page_size={{ page_size }}">{{ p }}</a></li>
      {% endfor %}
      {% if pagination.has_next %}
      <li><a href="{{ url }}{% if param %}?{{ param }}&amp;{% else %}?{% endif %}page={{ pagination.next_page_number }}&amp;page_size={{ page_size }}">»</a></li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
  {% if blogs and has_pager %}
  <div>Items per page:
    <a href="{{ url }}{% if param %}?{{ param }}&amp;{% else %}?{% endif %}page_size=8">8</a> | 
    <a href="{{ url }}{% if param %}?{{ param }}&amp;{% else %}?{% endif %}page_size=16">16</a> | 
    <a href="{{ url }}{% if param %}?{{ param }}&amp;{% else %}?{% endif %}page_size=32">32</a>
  </div>
  {% endif %}
</div>
{% endblock %}

