{% extends 'base_backend.html' %}

{% load tz %}

{% block head_title %}All Stories{% endblock %}

{% block html_head %}
<script>
$(document).ready(function() {
	var $checkall = $('form table tr:first th input[type=checkbox]');
	var $checkboxes = $('input[type=checkbox][name=blog_id]');
	$checkall.click(function(e) {
		if ($(this).is(':checked')) {
			$checkboxes.attr('checked', 'checked');
		} else {
			$checkboxes.removeAttr('checked');
		}
	});
	$checkboxes.click(function(e) {
		if (!$(this).is(':checked')) {
			$checkall.removeAttr('checked');
		} else {
			var isCheckAll = true;
			$.each($checkboxes, function(i, checkbox) {
				isCheckAll = isCheckAll && $(checkbox).is(':checked');
			});
			if (isCheckAll) {
				$checkall.attr('checked', 'checked');
			}
		}
	});
})
</script>
{% endblock %}

{% block content %}
	<h1 class="page-title block">All Stories</h1>
	<div class="block">
		<a href="{% url blog_manage %}" class="active-b">All </a><span class="grey">({{ num_all }})</span> | 
		<a href="{% url blog_manage_published %}">Published </a><span class="grey">({{ num_published }})</span> | 
		<a href="{% url blog_manage_draft %}">Drafts </a><span class="grey">({{ num_draft }})</span> | 
		<a href="{% url blog_manage_trash %}">Trash </a><span class="grey">({{ num_trash }})</span>
	</div>
	<form class="form-inline" action="{% url blog_manage_bulk %}">
		<select id="op">
			<option>Bulk Actions</option>
			<option value="delete">Delete</option>
		</select>
		<input type="submit" value="Apply">
		<table class="table table-striped table-list">
			<thead>
				<tr>
					<th><input type="checkbox"></th>
					<th>Title</th>
					<th class="centered">Date</th>
					<th class="centered">Love</th>
					<th class="centered">Views</th>
					<th class="centered">Edit</th>
					<th class="centered">{% if can_restore %}Restore{% else %}Trash{% endif %}</th>
				</tr>
			</thead>
			<tbody>
				{% for blog in blogs %}
				<tr>
					<td><input type="checkbox" name="blog_id" value="{{ blog.id }}"></td>
					<td><a href="{% url blog_view blog.id %}">{{ blog.title }}</a></td>
					<td class="centered">{{ blog.created|localtime|date:"m/d/Y" }}</td>
					<td class="centered">{{ blog.love_set.all.count }}</td>
					<td class="centered">{{ blog.viewcount.totalcount }}</td>
					<td class="centered"><a href="{% url blog_edit blog.id %}" class="ic-action-story ic-edit-story">Edit</a></td>
					{% if can_restore %}
					<td class="centered"><a href="{% url blog_restore blog.id %}?section=trash" class="ic-action-story ic-delete-story">Restore</a></td>
					{% else %}
					<td class="centered"><a href="{% url blog_trash blog.id %}?section={{ section }}" class="ic-action-story ic-delete-story">Trash</a></td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
    </form>  
	<select name="op"><option value="set_private">Private</option><option value="set_public">Public</option></select> 
		<input type="submit" value="Apply">
		<table>
		{% for blog in blogs %}
				<tr>
						<td class="blog_id"><input type="checkbox" name="blog_id" value="{{ blog.id }}"></td>
					<td class="title">{{ blog.title }}</td>
					<td class="loves">{{ blog.love_set.count }}</td>
					<td class="mood">
						<div class="mood-{{ blog.mood }}">{{ blog.get_mood_text }}</div>
					</td>
					<td class="created">{{ blog.created|date:"Y-m-d" }}</td>
				</tr>
		{% endfor %}
		</table>
{% endblock %}

