{% load common_tags %}

{% if comments %}
<div class="comment_list">
{% for c in comments %}
  <div class="comment_item">
    <div class="comment_user_avatar">
  	  <img src="{{ c.user.get_profile.get_avatar|crop:'35x35' }}" alt="{{ user.get_profile.get_fulll_name }}" /></div>
    <div class="comment_user_fullname"> {{ c.user.get_profile.get_full_name }} say:</div>
    <div class="comment_msg">{{ c.comment }}</div>
    <div class="comment_date">{{ c.post_date }}</div>
  </div>
{% endfor %}
</div>
{% endif %}
<div class="comment_form">
  <form action="{% url add_blog_comment blog.id %}" method="POST">
  	{% csrf_token %}
	<textarea id="id_comment" name="comment" rows="7" cols="40" placeholder="Add your comment here..."></textarea>
	<input type="submit" name="post" value="POST COMMENT"/>
  </form>
</div>
