{% extends 'base_single.html' %}

{% block head_title %}About{% endblock %}

{% block content %}
<div class="container" style="padding-bottom:30px;" xmlns="http://www.w3.org/1999/html">
	<div class="row">
		<div class="span8 thumbnail offset2">
			<div class="global-padding">
			    <h2 class="oxfam-font block">about us</h2>

                <h3>What is Oxfam Live Stories?</h3>
                <p>Oxfam Live Stories is an internal micro photo blogging platform, created for Oxfam staff to share their everyday inspiring stories using pictures and a short story (less than 300 characters). It aims to <strong>connect people, share experiences, and build knowledge</strong> across Oxfam in Asia.</p>
                <p>As Oxfam Live Stories grows, you will begin to see colorful Oxfam’s experiences in Asia in a unique and personal environment.</p>

                <h3>Who has access to the site? Can affiliates & partners use it?</h3>
                <p>The project was initiated by the OGB Regional Centre in Bangkok and it’s still new, so initially we want to keep it small by focusing on Asia community and a few key staff from outside the region.</p>
                <p>OGB staff, and staff from other affiliates who based in 11 countries in Asia1 are welcome to join. In the future, depending on how well it works, we can expand its capacity and make it accessible widely and globally. To request for an account, please write to <a href="mailto:livestories@oxfam.org.uk">livestories@oxfam.org.uk</a>.</p>
                <p>You can also request an account for Oxfam’s partners whom you work with, but please make sure you made it clear what Oxfam Live Stories is.</p>

                <h3>Do we need sign off?</h3>
                <p>Because we want to keep it strictly internal and informal, there is no sign-off needed for the photos you upload to Oxfam Live Stories.</p>
                <p>However, the core OLS team screens the photos on the site regularly for inappropriate content, and for high-quality content. If your photo is qualified to be used in Oxfam's public communications, we will contact you for more information, and go through regular sign-off process so your photo can be uploaded to <a href="http://wordsandpictures.oxfam.org.uk/">http://wordsandpictures.oxfam.org.uk/</a> and used in Oxfam's public communications such as website, brochure, reports, newsletter, and more!</p>

                <h3>What about Words & Pictures?</h3>
                <p>Oxfam Live Stories is not meant to replace Words & Pictures. The purpose of these two platforms are different. Words & Pictures is an official database of high-quality, professional photos and stories that can be used for Oxfam publications and media-communications. Oxfam Live Stories is a community of story tellers. It’s for you to connect to staff in other countries, share your experiences and learn from one another. It’s less formal and the photos cannot be used outside the site unless the OLS team selected your photo to submit to Words & Pictures.</p>

                <h3>Is there any restriction?</h3>
                <p>There is no restriction yet in terms of size and numbers of photos you can upload, so upload away! But as we are a community, we do have ‘ground rules’ that all members need to respect. For the full guideline, please visit <a href="http://oxfamlivestories.org/term/">http://oxfamlivestories.org/term/</a></p>

                <h3>What kind of photos can we upload?</h3>
                <p>We encourage you to upload something original, thoughtful, creative, and interesting because our aim is to connect people, share experience, and build knowledge, so anything related to Oxfam’s work that you want to share with Oxfam colleagues, or something you think others can learn from.</p>

                <h3>Who can I contact if I need help?</h3>
                <p>If you need explanation how the site works, there’s a ‘virtual tour’ that you can watch. Go to <a href="http://oxfamlivestories.org/howto/">http://oxfamlivestories.org/howto/</a> or <a href="http://youtu.be/0RCOQnDx4Yo">http://youtu.be/0RCOQnDx4Yo</a></p>
                <p>If you need tricks and tips how to take good photos and write good captions, go to <a href="http://oxfamlivestories.org/howto/">http://oxfamlivestories.org/howto/</a></p>
                <p>For general queries and feedback, or if you found inappropriate content, please write to <a href="mailto:livestories@oxfam.org.uk">livestories@oxfam.org.uk</a></p>

                <br/>
                <p>We hope you enjoy the site. Happy photo blogging!</p>
                <p><strong>Oxfam Live Stories Team.</strong></p>

			</div>
		</div>
	</div>
</div>

{% endblock %}