{% extends 'base_single.html' %}

{% block head_title %}About{% endblock %}

{% block content %}

<p>There are millions of stories out there each day at Oxfam us - motivating, inspiring, exciting, or even unhappy stories. From Afghanistan to Eastern Indonesia, tons of memorable moments unveil in front of us but we miss the opportunity to hear each other's stories because we've never had an easy way to share them before. Now we do. </p>

<p>Oxfam Live Stories, a private micro photo blogging community for Oxfam staff in Asia, allows you to share your stories with colleagues across the region in a short and simple way. Just upload a photo with a brief caption no longer than 300 characters long, add 'mood' and 'category', and your story is shared across the community!</p>

<p>As the Oxfam Live Stories grows, you will begin to see stories of us in Asia in the way we've never seen before.  We hope that you will feel more connected and be more inspired by the stories of us.</p>

<p>So what are you waiting for?  Let's share your stories.</p>


{% endblock %}