{% extends 'base.html' %}

{% block base_body_class %}admin{% endblock %}
{% block base_container_class %} admin-main{% endblock %}

{% block html_head %}
<script type="text/javascript" src="{{STATIC_URL}}libs/jquery.fileupload/js/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}libs/jquery.fileupload/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}libs/jquery.fileupload/js/jquery.fileupload.js"></script>
{% endblock %}

{% block base_content %}
<div class="row">
  <div class="span3 block">
    <ul class="nav nav-list nav-admin">
      <li class="nav-header"><a href ="#">Post</a></li>
      <li><a href="#"><i class="icon-th-list"></i> All Post</a></li>
      <li class="active"><a href="{% url blog_create %}"><i class="icon-white icon-plus"></i> Add New Post</a></li>
      <li class="nav-header"><a href ="#">Love <span class="rounded">24</span></a></li>
      <li class="nav-header"><a href ="#">User</a></li></li>
      <li><a href="{% url account_profile_edit %}"><i class="icon-user"></i> Your Profile</a></li>
    </ul>
  </div>
  <div class="span9 block">
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        <a class="close">×</a><p>{{ message.tags }}</p> {{ message|safe }}
  		</div>
  		{% endfor %}
		</div>
		{% endif %}
		
    <div class="content rounded">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}