{% extends 'base.html' %}

{% block base_body_class %}admin{% endblock %}
{% block base_container_class %} admin-main{% endblock %}

{% block html_head %}
<script type="text/javascript" src="{{STATIC_URL}}libs/jquery.fileupload/js/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}libs/jquery.fileupload/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}libs/jquery.fileupload/js/jquery.fileupload.js"></script>
{% endblock %}

{% block base_content %}
<div class="row">
  <div class="span3">
    <ul class="nav nav-list">
      <li class="nav-header">Post</li>
      <li class="active"><a href="#"><i class="icon-white icon-home"></i> All Post</a></li>
      <li><a href="{% url blog_create %}"><i class="icon-book"></i> Add New Post</a></li>
      <li class="nav-header">User</li>
      <li><a href="#"><i class="icon-user"></i> All User</a></li>
      <li><a href="#"><i class="icon-cog"></i> Invite User</a></li>
      <li><a href="#"><i class="icon-flag"></i> Your Profile</a></li>
    </ul>
  </div>
  <div class="span9">
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        <a class="close">×</a><p>{{ message.tags }}</p> {{ message }}
  		</div>
  		{% endfor %}
		</div>
		{% endif %}
		
    <div class="content rounded">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}