<table cellspacing="0" cellpadding="0" border="0" width="740px" background="{{ settings.SITE_DOMAIN }}/static/img/bg-body_email.png">
    <tbody>
    <tr>
        <td><img src="{{ settings.SITE_DOMAIN }}/static/img/bg-header_email.png"  width="740px" height="62px" /></td>
    </tr>
    <tr>
    <tr>
        <td></td>
    </tr>
    <td>
        <div style="padding: 20px 50px; line-height: 1.5em;">
            <img src="{{ settings.SITE_DOMAIN }}/{{ settings.SITE_LOGO }}" alt="{{ settings.SITE_NAME }}" />
            <h2>Hi, </h2>
            {% block email_content %}{% endblock %}

            <p>Sincerely, <br/>{{ settings.SITE_NAME }} Team</p>
        </div>
    </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td>
            <div style="padding: 0px 50px;">
                <span style="display:block; width: 640px; border-bottom:1px solid #ccc; margin-bottom: 15px;"></span>
                <p style="float:left; line-height: 30px; margin:0;"><a href="{{ settings.SITE_DOMAIN }}/" style="color: #339900; text-decoration: none;">{{ settings.SITE_DOMAIN }}/</a></p>
                <img style="float:right;" src="{{ settings.SITE_DOMAIN }}/{{ settings.SITE_LOGO_EMAIL }}" />
            </div>

            <img src="{{ settings.SITE_DOMAIN }}/static/img/bg-footer_email.png" />
        </td>

    </tr>
    </tfoot>
</table>