{% extends 'base_single.html' %}

{% block head_title %}About{% endblock %}

{% block content %}
<div class="container" style = "padding-bottom:30px;">
    <div class="row">
        <div class="thumbnail">
            <div class="global-padding">
                <h2 class="oxfam-font block">Virtual Tour</h2>
                <iframe width="853" height="480" src="http://www.youtube.com/embed/0RCOQnDx4Yo" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

{% endblock %}