{% extends 'base_single.html' %}

{% block head_title %}Term of Use{% endblock %}

{% block content %}
<div class="container" style = "padding-bottom:30px;">
    <div class="row">
        <div class="span8 thumbnail offset2">
            <div class="global-padding">
                <h2 class="oxfam-font block">Oxfam Live Stories (OLS) Community Ground Rules</h2>
                <p>Oxfam Live Stories is a community of storytellers. As a member, you are required to follow and respect the ground rules below and our terms of use.</p>

                <h2>What to do</h2>

                <p><strong>Share original, thoughtful, creative, and interesting stories</strong></p>
                <p> You can share anything work-related with your colleagues in OLS, but we encourage you to share original, thoughtful, creative, and interesting stories because that way, not only your photo and stories will have more chance to be 'loved' or receive comments, but our community will also be rich in quality and knowledge.</p>

                <p><strong>Play nice.</strong></p>
                <p> We're a diverse community of people from different culture and background, who all have the right to feel and think differently. They may not think what you think, believe what you believe or see what you see. So, be polite and respectful in your interactions with other members.</p>

                <p><strong>Do upload content that you've created, OR Credit the photographer properly</strong></p>
                <p> Respect the copyright of others. This means don't steal photos or story that other people have shared and pass them off as your own.</p>
                <p>However, if the owner of the photo is not a member of OLS and never will be, and you have obtained their permission to post their photos on behalf of them, please credit the photographer proplerly by adding their names to the photo description.</p>
                <p>If you see photos that you’ve created in another member’s collection, don't panic. This is probably just a misunderstanding and not malicious. A good first step is to contact them and politely ask them to remove it. If that doesn't work, please email OLS Team via <a href="mailto:livestories@oxfam.org.uk">livestories@oxfam.org.uk</a> who will take it from there.</p>

                <p><strong>Moderate your content.</strong></p>
                <p> If your photo or story deals with sensitive issues such as land grab, displacement, HIV/AIDS, etc., please write in CAP in your description ‘SENSITIVE’ so that we treat it carefully.</p>

                <p><strong>Help look after our comminity</strong></p>
                <p>If you come across inappropriate photo, story, or comment, let the site admin know by email to <a href="mailto:livestories@oxfam.org.uk">livestories@oxfam.org.uk</a>.</p>

                <h2>What not to do</h2>
                <p>Stepping across any of the lines listed below may result in account deletion with or without warning.</p>

                <p><strong>Don’t upset or offend others.</strong></p>
                <p>If we find you doing that, your account will be deleted and we'll take appropriate action.  If you are offended by a photo or comment, you can either click away or you can 'flag inappropriate'. If you think there's immediate cause for concern, you can report content and/or someone's behavior to OLS Team via livestories@oxfam.org.uk Note: Please report from the specific page that the offensive content appears—this gives us all the information we need to take action.</p>

                <p><strong>Don’t vent your frustrations, rant, or bore the brains out of other members.</strong></p>
                <p>OLS is not a venue for you to harass, abuse, impersonate, or intimidate others. If we receive a valid complaint about your conduct, we’ll send you a warning or delete your account.</p>

                <p><strong>Don’t use OLS to advertise or sell.</strong></p>
                <p>It's ok if you want to advertise a campaign or work-related events. But if we find you post an advert selling your furniture, for example, we will warn you or delete your account.</p>

                <h3>Copyrights</h3>
                <p>The copyrights of the photos and stories uploaded to Oxfam Live Stories belongs to you, unless OLS Team contact you and request for your photos and stories to be uploaded to Wordsandpictures.oxfam.org.uk for Oxfam’s use, and you agreed. Once the sign off is secured, the copyrights will transfer to Oxfam, but your name will be properly credited as photographer.</p>
                <p>If you want to use other members’ photos in your presentation or internal communications, please be respectful and contact the owner to get their permission before you do.</p>
                <p>You may also want to check out our FAQs. If you ever have any questions or comments, we'd love to hear from you. Please feel free to drop us an email at <a href="mailto:livestrories@oxfam.org.uk">livestrories@oxfam.org.uk</a></p>

            </div>
        </div>
    </div>
</div>

{% endblock %}