{% extends 'base_single.html' %}

{% block head_title %}Term of Use{% endblock %}

{% block content %}

<p>By joining Oxfam Live Stories, I agreed to the terms and conditions outlined below. </p>

<p>We don't really want to set 'rules' here because we want you to be creative with this community. However, we need to have some basic agreement just to make sure that everyone agrees to respect each other's rights and intellectual property as a community member of Oxfam Live Stories.</p>

<ul>
	<li>Only share photos (or images) you take (or created) by yourself. If someone else took the photo, always ask for his/her consent and always give credit.</li>
	<li>Make sure the person (or people) who appear in your photos allowed you to share the photos of them. </li>
	<li>If you check 'I'm happy to allow this photo to be used by Oxfam outside Oxfam Live Stories', it means that you allow Oxfam (or Oxfam staff member) to use your images in Oxfam's communications materials, internally and externally, without having to request for consent from you. You will receive a notification when your photo is downloaded. </li>
	<li>If you are going to use a photo downloaded from this site in Oxfam's materials, make sure you put the photo credit to the photographer.</li>
	<li>Be polite, be inspiring, be constructive to other members.</li>
	<li>Oxfam Live Stories team reserves the right to delete your photo if it is deemed inappropriate.</li>
</ul>

{% endblock %}