amqplib==1.0.2
anyjson==0.3.1
beautifulsoup4==4.0.0b10
coverage==3.5.1
Django==1.3.1
django-celery==2.4.2
django-kombu==0.9.4
django-nose==0.1.3
django-override-settings==1.2
django-taggit==0.9.3
kombu==2.1.0
mock==0.8.0
PIL==1.1.7
psycopg2==2.4.1         # 2.4.2+ cannot use with django-nose
py-dom-xpath==0.1
pytz==2012b
South==0.7.4